<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.wo53839" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oskar 53839</name>
    <description>Weather App</description>
    <author email="wo53839@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Oskar Wawrzyniak
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
        <icon src="res/electron/ikonka.png" />
    </platform>

</widget>
